<div class="container" >
  <div class="row" >

    <div class="col-md-3">
      <div class="well sidebar-nav sidebar-dark fill">
        <ul class="nav nav-list fill">
          <div class="input-group input-group-lg sidebar-dark fill">
              <span class="input-group-addon sidebar-dark alignleft fill">
                <div class="row sidebar-item">
                  <input name="team" type="radio" aria-label="..." checked="checked"> Todos
                </div>
                <% @circles.each do |circle| %>
                  <div class="row sidebar-item">
                    <div class="col-md-1"></div> <input name="team" type="radio" aria-label="..."> <%= circle.name %>
                  </div>
                <% end %>
              </span>
          </div>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="col-md-9" >
      <div class="container">

        <div class="row" style="margin-top: 20px" >
          <%= bootstrap_flash class: 'tiny-flash' %>
        </div>

        <!--<div class="row" >-->
          <!--<div class="col-md-9" style="background-color: white;padding: 20px">-->
              <!--<input id="slider-timeline-days" > </input>-->
            <!--<br>-->
          <!--</div>-->
        <!--</div>-->


        <div class="row">
          <div class="col-md-9" style="background-color: white;padding: 20px;">
            <span style="font-size: 18px"> Localizaci칩n </span>
            <br>
            <span> Posiciones por zonas, equipos <br> e intervalos de tiempo durante el evento. </span>
          </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-9" style="background-color: white;padding: 20px;">
              <div id="localization-map-chart" class="map-chart" style="transform: translate(20%)"> </div>
            </div>
        </div>

        <div class="row" >
          <div class="col-md-9" style="background-color: white;padding: 20px;">
            <div class="container">
              <div class="row">
                <div class="col-md-3 " >
                  <span style="font-size: 18px"> Analisis de Sue침o </span>
                  <br>
                  <span> Cantidad de personas duermiendo <br> a lo largo del evento. </span>
                </div>
                <div class="col-md-3" >
                  <span style="font-weight: bold"> Lapso del sue침o <br> m치s largo:</span>
                  <span> 00:00:00 </span>
                </div>
                <div class="col-md-3" >
                  <div>
                    <span style="font-weight: bold"> Total de horas <br> dormidas:</span>
                    <span> 00:00:00 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-9" style="background-color: white;padding: 20px;">
            <div id="sleep-analysis" class="dashboard-custom" style="transform: translate(20%)"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

