<div class="container" >
  <div class="row" >

    <div class="col-md-3">
      <div class="well sidebar-nav sidebar-dark fill">
        <ul class="nav nav-list fill">
          <div class="input-group input-group-lg sidebar-dark fill">
              <span class="input-group-addon sidebar-dark alignleft fill">
                <div class="row sidebar-item">
                  <input name="team" type="radio" aria-label="..."> Everyone
                </div>
                <div class="row sidebar-item">
                  <div class="col-md-1"></div> <input name="team" type="radio" aria-label="..."> TEC
                </div>
                <div class="row sidebar-item">
                  <div class="col-md-1"></div> <input name="team" type="radio" aria-label="..."> UCR
                </div>
              </span>
          </div>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="col-md-9" >
      <div class="container">


        <div class="row" style="margin-top: 20px" >
          <%= bootstrap_flash class: 'tiny-flash' %>
        </div>

        <div class="row">
          <div class="col-lg-9">
          <div id="slider-timeline-hours"> </div>
          </div>
        </div>
        <div class="row", style="height: 50px">
          <% (0..24).to_a.each do |hour| %>
              <div class="col-lg-9">
                <%= "#{hour}  " %>
              </div>
          <% end %>
        </div>

        <div class="row", style="height: 50px">
          <div class="col-lg-9">
            <div id="slider-timeline-days"> </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 50px;background-color: white;width: 72%" >
          <div class="dashboard-custom">
             <img src="map.jpg" style="transform: translate(22%,0%)"/>
          </div>
            <div id="localization-map-chart" class="map-chart"> </div>
        </div>

        <div class="row" >
          <div class="dashboard-custom" style="padding: 40px;">
            <div class="container">
              <div class="row">
                <div class="col-md-3 " >
                  <span style="font-size: 18px"> Sleep Analysis </span>
                  <br>
                  <span> Count of persons sleeping for <br> a given interval of time. </span>
                </div>
                <div class="col-md-3" >
                  <span style="font-weight: bold"> Lapso del sueño <br> más largo:</span>
                  <span> 00:00:00 </span>
                </div>
                <div class="col-md-3" >
                  <div>
                    <span style="font-weight: bold"> Total de horas <br> dormidas:</span>
                    <span> 00:00:00 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sleep-analysis" class="dashboard-custom"></div>

        </div>

      </div>
    </div>

  </div>
</div>

